* {
  font-family: "Stylish", sans-serif;
}

body {
  width: 1800px;
  height: 1100px;
  background-image: url("./image/Highfive.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 40%;
}

.input {
  margin: 0.5rem;
}

.head {
  font-size: 5rem;
  color: black;
  width: 1500px;
  text-align: center;
  margin: 50px auto;
}
.sub-title {
  font-size: 30px;
  color: black;
  width: 100px;
  text-align: center;
  margin: 15px auto;
}

.logIn {
  width: 100px;
  margin: auto;
}

.logout {
  size: 50%;
}

.box {
  width: 500px;
  margin: 100px auto;
  padding: 50px;
}

.hide {
  display: none;
}

.logStatus {
  margin-right: 15px;
  float: right;
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.button-container > .card-button:last-child {
  margin-left: 10px;
}
