<!DOCTYPE html>
<html>
  <head>
    <title>0주차</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
  />
  <body>
    <div class="title">찹살떡 회원가입</div>
    <form id="post-box" class="form-post">
      <div>
        <div class="form-group">
          <label for="post-id">ID</label>
          <input name="id" id="post-id" class="form-control" placeholder="" />
        </div>
        <div class="form-group">
          <label for="post-comment">PASSWORD</label>
          <input name="password" id="post-password" placeholder="" />
        </div>
        <button
          type="submit"
          data-role="joinSuccess"
          name="joinSuccess"
          id="joinSuccess"
          class="btn"
        >
          가입 완료
        </button>
      </div>
    </form>
  </body>
</html>
