​ {% with messages = get_flashed_messages() %} {% if messages %}
<script type="text/javascript">
  alert("{{messages[-1]}}");
</script>
{% endif %} {% endwith %} ​ ​
<!DOCTYPE html>
<html>
  <head>
    <title>로그인 홈페이지</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="shortcut icon" href="#" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
  </head>
  <body>
    <div class="title">찹살떡</div>
    <form id="post-box" class="form-post">
      <div>
        <div class="form-group">
          <label for="post-id">ID</label>
          <input
            type="text"
            name="id"
            class="form-control"
            placeholder="아이디를 입력하세요"
          />
        </div>
        <div class="form-group">
          <label for="post-comment">PASSWORD</label>
          <input
            type="password"
            name="password"
            placeholder="패스워드를 입력하세요"
          />
        </div>
        <button
          type="button"
          data-role="register"
          name="register"
          id="register"
          class="btn btn-primary"
        >
          회원가입
        </button>
        <button
          type="button"
          data-role="login"
          name="login"
          id="login"
          class="btn"
        >
          로그인
        </button>
      </div>
    </form>
  </body>
  <script src="{{ url_for('static', filename='fetch.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
