<!DOCTYPE html>
<html>
  <head>
    <title>찹살떡 메인 홈페이지</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
  </head>
  <body>
    <div class="logStatus">
      {{user_info['id']}}님이 로그인 중입니다
      <button
        class="button is-danger is-outlined"
        style="height: 1.5rem"
        data-role="logout"
      >
        로그아웃
      </button>
    </div>
    <div class="head">찹살떡<img src="../static/image/찹살떡.png" width="80" ></img> </div>
    <form id="post-box"></form>
    <div class="userbox" id="{{user_info.name}}">
      <p id="userName" class="maincardName"><img src="../static/image/메인찹살떡.png" width="80" style="margin-right: 40px;" > 오늘의 모찌 : {{user_info.name}}</p>
      <p>당신의 id : {{user_info.id}}</p>
      <p class="maincardName" id="emoji"></p>
      <p id="innerhtml" class="harmonyText"></p>
    </div>
    <div class="columns is-multiline is-desktop" id="card-box">
      {% for user in user_list %}
      <form class="card 
       is-one-quarter" data-id="{{user.name}}">
        <p class="cardName"><img src="../static/image/서브찹살떡.png" width="80" >이름 : {{user.name}}</p>
        <button  class="button is-rounded m-3" style="height: 1.5rem " type="button" data-role="harmony" data-id="{{user.name}}">궁합점수 계산하기</button>
        <p class ="harmonyScore" id="{{user.name}}">궁합점수 : </p >
      </form>
      {%endfor%}
    </div>
  </body>
  <script src="{{ url_for('static', filename='nameHarmony.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
