<!DOCTYPE html>
<html>
  <head>
    <title>찹살떡 메인 홈페이지</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
  />
  <body>
    <div class="title">찹살떡 메인 홈페이지</div>
  </body>
</html>
