<!DOCTYPE htmll>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <title>회원가입 홈페이지</title>
  </head>
  <body>
    <h1 class="title">찹살떡</h1>
    <form id="post-box" class="form-post">
      <p>
        ID : <input type="text" name="id" placeholder="글자 수 4~18자 사이" />
      </p>
      <p>이름 : <input type="text" name="name" placeholder="12자 이내" /></p>
      <p>
        비밀번호 :
        <input
          type="password"
          name="password"
          placeholder="글자 수 6~18자 사이"
        />
      </p>
      <p>
        비밀번호 확인 :
        <input
          type="password"
          name="passwordCheck"
          placeholder="글자 수 6~18자 사이"
        />
      </p>
      <button type="submit">가입 완료</button>
      <button type="button" data-role="registerCancle">취소</button>
    </form>
  </body>
  <script src="{{ url_for('static', filename='fetch.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
